:root {
  --color-white: hsl(52 100% 97% / 100%);
  --color-black: hsl(210 100% 6% / 80%);
  --color-light-tan: hsl(37 27% 95% / 100%);
  --color-light-brown: hsl(37 27% 30% / 30%);
  --color-brown: hsl(37 27% 30% / 50%);
  --color-dark-brown: hsl(37 27% 30% / 90%);
  --color-tan-alpha: hsl(37 27% 99% / 95%);
  --color-blue: hsl(195 60% 30% / 100%);
  --color-dark-blue: hsl(195 80% 10% / 100%);
  --color-shadow-dark: hsl(210 100% 15% / 20%);
  --color-shadow-light: hsl(187 36% 33% / 10%);
  --color-red: hsl(0 60% 30% / 100%);

  --border-size: 2px;
  --size-1x: 6px;
  --size-2x: 12px;
  --size-3x: 18px;
  --size-4x: 24px;
  --size-6x: 36px;
  --size-10x: 60px;
}

body {
  height: 100vh;
  margin: 0;
  background: var(--color-white) url("./tts-bg.jpg") no-repeat;
  background-size: auto 65%;
  background-position: center bottom -25%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

select,
input,
button {
  padding: var(--size-1x) var(--size-2x);
  margin-right: var(--size-2x);
  min-width: 150px;
}

button {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  background-color: var(--color-blue);
  border: var(--border-size) solid var(--color-blue);
  color: var(--color-white);
  border-radius: var(--size-1x);
  padding: var(--size-2x) var(--size-6x);
  cursor: pointer;
  transition: all 0.1s;
}

button.outline {
  background-color: hsla(195, 100%, 100%, 50%);
  border: var(--border-size) solid var(--color-blue);
  color: var(--color-blue);
}

button:hover {
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

button.outline:hover {
  background-color: #fff;
  color: var(--color-dark-blue);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  width: calc(100% - var(--size-1x));
  justify-content: space-between;
}

.sidebar ul li span {
  display: flex;
  justify-content: space-between;
  padding: var(--size-1x) var(--size-2x);
  margin: var(--size-1x);
  background-color: var(--color-light-tan);
  color: var(--color-dark-brown);
  text-decoration: none;
  font-weight: 400;
  border-radius: var(--size-1x);
  border: var(--border-size) solid var(--color-light-brown);
  transition: all 0.3s;
  cursor: pointer;
  flex-grow: 1;
}

.sidebar ul li span:hover {
  border: var(--border-size) solid var(--color-dark-brown);
}

.sidebar ul li button {
  margin: 0;
  padding: 0 var(--size-1x);
  border: none;
  background-color: transparent;
  color: var(--color-dark-brown);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  min-width: auto;
}

.screen {
  width: calc(100% - var(--size-6x));
  margin: var(--size-4x) auto;
  max-width: 1000px;
}

.screen-settings {
  display: flex;
  flex-direction: column;
  gap: var(--size-6x);
}

.screen-primary {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--size-6x) var(--size-3x);
  width: calc(100% - var(--size-6x));
  margin: var(--size-4x) auto;
  max-width: 1000px;
}

.toolbar {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-2x);
  background-color: var(--color-light-tan);
  min-height: var(--size-4x);
  box-shadow: 0 var(--size-1x) 0px var(--color-shadow-light);
  font-size: 1.5rem !important;
  margin-bottom: var(--size-1x);
}

.sidebar {
  grid-column: 2;
  background-color: var(--color-white);
}

.sidebar ul {
  margin: 0;
  padding: var(--size-2x) var(--size-1x);
  max-height: 50vh;
  overflow-y: auto;
}

.screen-primary .main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-white);
}

.main,
.sidebar,
.footer {
  background: var(--color-tan-alpha);
  box-shadow: 0 var(--size-2x) 0px var(--color-shadow-dark);
  outline: var(--border-size) solid var(--color-black);
  border-radius: var(--size-1x);
}

.app-name {
  font-size: calc(var(--size-2x) + var(--size-2x));
  margin: 0;
}

.screen-settings .content-area {
  text-align: center;
}

.screen-settings .content-area .setting {
  display: flex;
  flex-direction: column;
  gap: var(--size-2x);
  max-width: 500px;
  margin: 0 auto;
}

.content-area {
  padding: var(--size-3x) var(--size-2x);
  overflow-y: auto;
}

textarea {
  width: 100%;
  height: 100%;
  min-height: calc(var(--size-10x) + var(--size-5x));
  border: none;
  margin: 0;
  padding: var(--size-2x);
  box-sizing: border-box;
  background: var(--color-tan-alpha);
  border: var(--border-size) solid var(--color-brown);
  border-radius: var(--size-1x);
  line-height: 1.5;
}

.footer {
  display: grid;
  grid-template-rows: auto auto;
  padding: var(--size-2x);
  grid-column: 1 / span 2;
}

.footer-top {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--size-3x);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .footer-bottom-left {
  margin-right: var(--size-2x);
}

.footer-bottom .footer-bottom-right {
  margin-left: var(--size-2x);
}

@media (max-width: 768px) {
  .screen-primary {
    display: block;
  }

  .screen-primary>* {
    margin: var(--size-2x) 0;
    box-shadow: none;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-top>* {
    width: 100%;
    margin-bottom: var(--size-1x);
  }
}
